USE [master]
GO
/****** Object:  Database [Syleymanova]    Script Date: 22.02.2026 21:27:53 ******/
CREATE DATABASE [Syleymanova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Syleymanova', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Syleymanova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Syleymanova_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Syleymanova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Syleymanova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Syleymanova]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IdCategory] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Dish] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[TotalSum] [decimal](18, 2) NOT NULL,
	[DeliveryAddress] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[OrderStatus] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdDish] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtMoment] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.02.2026 21:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Холодные закуски')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Горячие закуски')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Салаты')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

INSERT [dbo].[Dish] ([Id], [Name], [Description], [Price], [IdCategory], [IsAvailable]) VALUES (1, N'Брускетта с томатами', N'Поджаренный чиабатта с маринованными томатами и базиликом', CAST(350.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Dish] ([Id], [Name], [Description], [Price], [IdCategory], [IsAvailable]) VALUES (2, N'Цезарь с креветками', N'Классический салат с обжаренными тигровыми креветками', CAST(620.00 AS Decimal(18, 2)), 3, 1)
INSERT [dbo].[Dish] ([Id], [Name], [Description], [Price], [IdCategory], [IsAvailable]) VALUES (3, N'Том Ям', N'Острый тайский суп с морепродуктами и кокосовым молоком', CAST(580.00 AS Decimal(18, 2)), 4, 1)
SET IDENTITY_INSERT [dbo].[Dish] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [OrderDate], [TotalSum], [DeliveryAddress], [Comment], [OrderStatus], [IdUser]) VALUES (1, CAST(N'2024-05-10' AS Date), CAST(1500.00 AS Decimal(18, 2)), N'ул. Ленина, д. 10, кв. 5', N'Позвонить за 10 минут', 1, 3)
INSERT [dbo].[Order] ([Id], [OrderDate], [TotalSum], [DeliveryAddress], [Comment], [OrderStatus], [IdUser]) VALUES (2, CAST(N'2024-05-10' AS Date), CAST(850.00 AS Decimal(18, 2)), N'пр. Мира, д. 25', N'Без лука в салате', 2, 4)
INSERT [dbo].[Order] ([Id], [OrderDate], [TotalSum], [DeliveryAddress], [Comment], [OrderStatus], [IdUser]) VALUES (3, CAST(N'2024-05-11' AS Date), CAST(2300.00 AS Decimal(18, 2)), N'ул. Садовая, д. 7, офис 2', N'Код домофона 123', 3, 6)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdDish], [Quantity], [PriceAtMoment]) VALUES (1, 1, 4, 1, CAST(1800.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdDish], [Quantity], [PriceAtMoment]) VALUES (2, 2, 2, 1, CAST(620.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdDish], [Quantity], [PriceAtMoment]) VALUES (3, 2, 10, 1, CAST(230.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Системный администратор')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Менеджер ресторана')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Доставлен')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Готовится')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Принят')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Login], [Password], [Phone], [IdRole]) VALUES (1, N'Иванов Иван Сергеевич', N'ivan', N'Admin2026', N'79001112233', 1)
INSERT [dbo].[User] ([Id], [FullName], [Login], [Password], [Phone], [IdRole]) VALUES (2, N'Петрова Мария Викторовна', N'masha', N'Password99', N'79112223344', 2)
INSERT [dbo].[User] ([Id], [FullName], [Login], [Password], [Phone], [IdRole]) VALUES (3, N'Сидоров Алексей Павлович', N'alex', N'Secret123', N'79223334433', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Dish]  WITH CHECK ADD  CONSTRAINT [FK_Dish_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Dish] CHECK CONSTRAINT [FK_Dish_Category]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([OrderStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Dish] FOREIGN KEY([IdDish])
REFERENCES [dbo].[Dish] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Dish]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
